<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Vue dischi</title>
</head>
<body>
    <div id="app">
        <!-- Header -->
        <header>
            <div class="logo">
                <img src="img/spotify_logo.png" alt="logo spotify">
            </div>
        </header>
        <!-- / Header -->
        <!-- Main -->
        <main>
            <div class="container">

                <!-- settings -->
                <div class="select_settings">
                    <select v-model="selected" id="genres">
                        <option v-for="genre in genres"> {{ genre }}</option>
                    </select>
                        <button @click="ascendingOrder()" class="btn">Ordine anno crescente</button>
                        <button @click="descendingOrder()" class="btn">Ordine anno decrescente</button>
                </div>
                <!-- /settings -->

                <!-- song -->
                <div id ="section_cd">
                    <div v-if="show(song)" v-for='song in songs' class="box">

                        <div class="album_song">
                            <img :src="song.poster" alt="immagine album">
                        </div>

                        <div class="title_song">
                            <h1> {{ song.title }} </h1>
                        </div>
                        
                        <div class="artist_age">
                            <p> {{ song.author }} </p>
                            <p> {{ song.year }} </p>
                        </div>        
                    </div> 
                </div>
                <!-- /song -->
            </div>
        </main>
        <!-- Main -->
    </div>
    <script src="js/main.js"></script>
</body>
</html>